.imagine {
  height: 30rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.imag {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search {
  align-self: center;
}

.title {
  z-index: 300;
  color: #FFFFFF;
  margin-top: 15%;
}