/* NOT RESPONSIVE, HARD-CODED SOME VALUES */

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.header {
  position: fixed;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Merriweather', serif;
  z-index: 3;
}

.image {
  height: 60px;
  margin-left: 12%;
  margin-bottom: 15px;
}

.userFeatures {
  margin-right: 30px;
}