.container {
  margin-top: 80px;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: col2-end;
  grid-row-start: 1;
  grid-row-end: span 2;
}