hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.filtersBar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: white!;
}